#sub-container{
    width: 400px;
    /* background-color: rgba(240, 255, 255, 0.1); */
}

.texto-aplicacao{
  font-family: "Pacifico-Regular";
}

#avatar{
    width: 100px;
    height: 100px;
}

#form-entrada{
  inline-size: 90%;
  margin-inline: auto;
  max-inline-size: 20rem;
}

.label-icon{
  border-radius: 0.25rem;
  padding: 1rem;
  background-color: #ffffff;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-inline: 1.10rem;
}

.icon{
  block-size: 1em;
  fill: #606468;
  vertical-align: middle;
}

input, .enviar {
  background-image: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  transition: background-color 0.3s;
  flex: 1;
  border-radius: 0.25rem;
  padding: 1rem;
}
input[type="text"]::placeholder{
  color: rgb(204, 204, 204);
}

input[type="text"]{
  background-color: rgb(255, 255, 255, 0.8);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

input[type="text"]:focus,
input[type="text"]:hover {
  background-color: rgba(241, 241, 241, 0.6)
}

.enviar{
  background-color: rgb(255, 255, 255, 0.8);
  color: rgba(49, 49, 49, 1);
  font-weight: 700;
  text-transform: uppercase;
}

.enviar:focus,
.enviar:hover{
  background-color: rgba(241, 241, 241, 0.6)
}

.input-chat{
  background-color: #ffffff;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
