<div class="container">
    <div id="sub-container" class="row mt-2">
        <div id="container-lateral" class="h-100 col-3 align-self-start">
            <div class="row h-25 border ">
                <div class="col-4 d-flex mt-2 mb-3">
                    <img
                        [src]="this.infoUsuario.linkAvatar"
                        id="avatar"
                        class="bg-light rounded-circle border border-dark"
                    />
                </div>
                <div class="col-8">
                    <p>{{this.infoUsuario.nomeUsuario}} </p>
                    <p>Seja forte e vencedor. </p>

                </div>

            </div>
            <div class="row h-75 border ">
                <div>
                    <p class="block">Sala: {{this.infoUsuario.nomeSala}}</p>
                </div>
                <div class="w-100">
                    <p class="block">Pessoas: </p>
                    <div>
                        <div class="d-flex justify-content-start" *ngFor="let usuario of usuariasConectados">
                            <div class="me-2">
                                <img
                                    src="{{usuario.linkAvatar}}"
                                    id="avatarPessoas"
                                    class="bg-light rounded-circle border border-dark"
                                />
                            </div>
                            
                            <p>{{usuario.nomeUsuario}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="container-mensagens" class="col-9 p-0">
            <div id="exibir-mensagens" class="w-100">
                <div #mensagens id="cx-mensagens" class="h-100 ps-5 pe-5 align-self-end">
                    <div class="d-flex justify-content-start">
                        <p class="d-flex justify-content-end mensagem-esquerda">Mensagem enviado por mim</p>
                    </div>
                    <div class="d-flex justify-content-end">
                        <p class="d-flex justify-content-start mensagem-direita">Mensagem enviado por outro</p>
                    </div>
                    <div class="d-flex justify-content-start">
                        <p class="d-flex justify-content-start mensagem-direita">Mensagem 2 enviado por outro</p>
                    </div>
                </div>
            </div>
            <div id="enviar-mensagem" class="">
                <form [formGroup]="mensagemForm" (submit)="enviar()" autocomplete="off" class="form_mensagem d-flex justify-content-center">
                    
                    <input type="text" formControlName="mensagem" id="escrever-mensagem">
                    
                    <button id="btn-enviar" type="submit" [disabled]="mensagemForm.invalid" class="btn btn-primary">
                        <i id="icone-enviar" class="fa fa-paper-plane-o" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
        </div>
        
    </div>
</div>