<div class="container">
    <div id="sub-container" class="row mt-2">
        <div id="container-lateral" class="h-100 col-3 align-self-start">
            <div class="row h-25 border ">
                <div class="col-4 d-flex mt-2 mb-3">
                    <img
                        [src]="this.infoUsuario.linkAvatar"
                        id="avatar"
                        class="bg-light rounded-circle border border-dark"
                    />
                </div>
                <div class="col-8">
                    <p>{{this.infoUsuario.nomeUsuario}} </p>
                    <p>Seja forte e vencedor. </p>

                </div>

            </div>
            <div class="row h-75 border ">
                <p>Sala: {{this.infoUsuario.nomeSala}}</p>

                <p>Pessoas: </p>
            </div>
        </div>
        <div class="col-9 p-0">
            <div id="exibir-mensagens" class="w-100">
                <div #mensagens id="cx-mensagens" class="h-100 align-self-end">
                    
                </div>
            </div>
            <div id="enviar-mensagem" class="">
                <form [formGroup]="mensagemForm" (submit)="enviar()" autocomplete="off" class="form_mensagem d-flex justify-content-center">
                    
                    <textarea formControlName="mensagem" id="escrever-mensagem"></textarea>
                    
                    <button id="btn-enviar" type="submit" [disabled]="mensagemForm.invalid" class="btn">
                        <i id="icone-enviar" class="fa fa-paper-plane-o" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
        </div>
        
    </div>
</div>